* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.menu-flex {
    display: flex;
}

.nav-wrapper {
    height: 100vh;
    width: 100%;
    background-image: url(./images/download.jpeg);
    background-color: rgba(43, 64, 226, 0.659);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    height: 15vh;
    width: 100%;
}

figure {
    align-items: flex-start;
    width: 9%;
    z-index: 1;
}

.nav-1 {
    justify-content: space-around;
}

.list {
    padding: 0px 20px;
    list-style: none;
}

.list li {
    color: rgb(5, 5, 5);
    padding: 0px 20px;
    font-size: 30px;
}

.list li a {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

button {
    margin: 10px;
    background-color: orangered;
    border-color: transparent;
    padding: 10px 30px;
    font-size: 24px;
}

.nav-2 {
    position: relative;
    top: 40%;
    font-size: 40px;
}

.m-2 button {
    position: absolute;
    padding: 20px 50px;
    background-color: tomato;
}

.hero-container {
    width: 100%;
    height: 60vh;
    margin-top: 8%;
}

.middle-container {
    margin: 50px 50px;
    padding: 5%;
    text-align: center;
}

.image-container {
    text-align: center;
    margin: 0px 10px;
    width: 100%;
    height: 60vh;
}

ul {
    background-color: rgba(187, 28, 0, 0.878);
    justify-content: space-evenly;
    list-style: none;
    padding: 15px;
    height: 10vh;
    font-size: 30px;
}

.image-container-1 {
    height: 50vh;
    width: 100%;
}

.image-1 {
    height: 46vh;
    width: 25%;
    background-size: cover;
    background-image: url("./images/toto.jpeg");
}

.image-2 {
    height: 46vh;
    width: 25%;
    background-size: cover;
    background-image: url("./images/girls.jpg");
}

.image-3 {
    height: 46vh;
    width: 25%;
    background-size: cover;
    background-image: url("./images/kenya3-0.png");
}

.image-4 {
    height: 46vh;
    width: 25%;
    background-size: cover;
    background-image: url("./images/trpd.jpg");
}

.word {
    height: 30%;
    border: 1px solid;
    text-align: center;
}

.image-container-2 {
    height: 50vh;
    border: 2px solid;
    margin: 10px;
    width: 100%;
}

.image-5 {
    width: 33.33%;
    height: 50vh;
    background-image: url("./images/kid.jpeg");
    background-repeat: no-repeat;
}

.image-6 {
    width: 33.33%;
    height: 50vh;
    background-repeat: no-repeat;
    background-image: url("./images/sss.jpeg");
}

.image-7 {
    width: 33.33%;
    height: 50vh;
    background-repeat: no-repeat;
    background-image: url("./images/oo.jpeg");
}